body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}

.title {
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0;
    border: 5px solid blue;
    margin: 10px;
}

.title h1 {
    margin: 0;
}

.bottom-content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.left-content img {
    max-width: 100%;
    height: auto;
}

.right-content {
    flex: 1;
    margin-left: 20px;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.right-title {
    margin-bottom: 20px;
}

.right-title h2 {
    margin: 0;
    background-color: blue;
    color: white;
}

.checkboxes {
    display: flex;
    flex-direction: column;
}

.checkbox-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.checkbox-item input[type="checkbox"] {
    margin-right: 10px;
}

.info-box {
    border: 2px solid black;
    padding: 10px;
    
}
