body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e6ecee;
}

.title {
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0;
    border: 5px solid blue;
    margin: 10px;
    border-radius: 20px;
}

.title h1 {
    margin: 0;
}

.bottom-content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.left-content img {
    max-width: 100%;
    height: auto;
}

.right-content {
    flex: 1;
    margin-left: 20px;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.right-title {
    margin-bottom: 20px;
}

.right-title h2 {
    margin: 0;
    background-color: blue;
    color: white;
}

.checkboxes {
    display: flex;
    flex-direction: column;
}

.checkbox-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.checkbox-item input[type="checkbox"] {
    margin-right: 10px;
}

.info-box {
    border: 2px solid black;
    padding: 10px;
    
}

.grid-container {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr; 
  }
  
  .specifications {
    grid-column: 1 / span 1; 
    margin-left: 50px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}
.specifications-box {
    background-color: white;
    border-radius: 20px;
    padding: 40px;
}
  
  .image {
    grid-column: span 3; 
    display: flex;
    justify-content: center; 
    align-items: center; 
  }

  .gender-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gender-toggle input[type="radio"] {
    display: none;
}

.gender-toggle label {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #ccc;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.gender-toggle input[type="radio"]:checked + label {
    background-color: lightblue; 
    color: white;
}

.gender-toggle input[type="radio"]:nth-of-type(1) + label {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.gender-toggle input[type="radio"]:nth-of-type(2) + label {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.gender-toggle input[type="radio"]#female:checked + label {
    background-color: pink; 
}

.user-input {
    text-align: center;
    margin-top: 20px;
}

.user-input label {
    display: block;
    margin-bottom: 5px;
}

.user-input input[type="number"] {
    width: 150px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.equipment-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.equipment-grid div {
    display: flex;
    align-items: center;
}